# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ZombieRun.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Unity\Repos\CodeLab1\Week2\mab1488-HW-Week2\ZombieRun\.idea\.idea.ZombieRun\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
